{% extends 'nav.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('stylesheets/content.css') }}" rel="stylesheet">
	<link href="{{ asset('stylesheets/login.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}Login
{% endblock %}

{% block app %}
	<form method="post">

		<div id="login-container" class="influx-container">
			<img src="{{ asset('imgs/logo.svg') }}"/>
			<h1>Sign in to your account</h1>
			<div id="inputs-container" class="influx-container">
				<input type="email" placeholder="Your email" value="{{ last_username }}" name="email" required autofocus>
				<input type="password" placeholder="Your password" name="password" required>
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			</div>

			<div id="submit-container" class="influx-container">
				<a style="background-color: transparent" class="button" href="{{path('app_register')}}">Create an account</a>
				<input value="Login" id="submit-btn" class="button orange-highlight" type="submit"/>
			</div>
			{% if error %}
				<div id="error" class="influx-container slot-background">
					<h1>{{ error.messageKey|trans(error.messageData, 'security') }}</h1>
				</div>
			{% endif %}
		</div>
	</form>

{% endblock %}
