{% extends 'nav.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('stylesheets/content.css') }}" rel="stylesheet">
	<link href="{{ asset('stylesheets/serie-item.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}Browse
{% endblock %}

{% set curr_search = app.request.get('search') %}
{% set curr_genre = app.request.get('genre') %}
{% set curr_rating = app.request.get('rating') %}
{% set has_filter = curr_search is not null or curr_genre is not null or curr_rating is not null %}

{% set offset = app.request.get('offset') %}
{% set left_offset_url = path('series_index', { 'offset': offset - 1, 'rating' : curr_rating, 'search' : curr_search, 'genre' : curr_genre } ) %}
{% set right_offset_url = path('series_index', {'offset': offset + 1,'rating': curr_rating,'search': curr_search,'genre': curr_genre} ) %}

{% block app %}

	<form id="search-header" style="justify-content: flex-start;" class="influx-container" action="{{ path('series_index') }}" method="GET">
		<div class="form-input-container shadow">
			<input autocomplete="off" value="{{ curr_search ? curr_search }}" name="search" type="text" placeholder="Search content..."/>
			<img src="{{ asset('imgs/search.svg') }}"/>
		</div>
		<div class="form-input-container">
			<select onchange="this.form.submit()" name="genre">
				<option value="" {{ curr_genre == null ? 'selected' }} disabled>Filter by genre</option>
				{% for genre in genres %}
					<option {{ curr_genre == genre.getId() ? 'selected' }} value="{{ genre.getId() }}">{{ genre.getName() }}</option>
				{% endfor %}
			</select>
		</div>
		{% if has_filter %}
			<a style="margin-left: 3em;" href="{{ path('series_index') }}" class="button shadow">Clear filters</a>
		{% endif %}
	</form>

	<div style="margin-bottom: 0; justify-content: space-between;" class="influx-container">
		<h1 class="separator" style="margin: 0; margin-left: 3em;">{{ has_filter ? "Search results" : "Browse series" }}</h1>
		<div style="display: flex; align-items: center; width: 250px; justify-content: space-evenly;">
			<a style="{{ offset <= 0 ? "opacity: 0.4; pointer-events: none;"}}" href={{ left_offset_url }} class="button orange-highlight }}">{{ "<" }}</a>
			<h1>{{ offset == null ? 1 : offset + 1 }}
				/
				{{ page_count }}</h1>
			<a style="{{ is_last ? "opacity: 0.4; pointer-events: none;"}}" href={{ right_offset_url }} class="button orange-highlight">{{ ">" }}</a>
		</div>
	</div>

	<div style="justify-content: space-between; {{ series|length == 0 ? "flex-direction: column; min-height: 200px" }}" class="influx-container shadow slot-background">
		{% if series|length == 0 %}
			<h1>Oops... No result found</h1>
			<a href="{{ path('series_index') }}" class="button orange-highlight">See all series</a>
		{% endif %}
		{% for s in series %}
			{% include 'series/serie_item.html.twig' with {'serie': s} %}
		{% endfor %}
	</div>
{% endblock %}
