{% extends 'nav.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('stylesheets/home.css') }}" rel="stylesheet">
	<link href="{{ asset('stylesheets/serie-item.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}Browse
{% endblock %}

{% block app %}
	<header id="home-header" class="influx-container">
		<form action="{{ path('series_index') }}" method="GET" class="shadow">
			<input name="search" type="text" placeholder="Search content..."/>
			<img src="{{ asset('imgs/search.svg') }}"/>
		</form>
		<form action="{{ path('series_index') }}" method="GET" class="shadow">
			<select onchange="this.form.submit()" id="cars" name="cars">
				<option value="volvo">Volvo</option>
				<option value="saab">Saab</option>
				<option value="fiat">Fiat</option>
				<option value="audi">Audi</option>
			</select>
		</form>
	</header>

	{% if app.request.get('search') %}
		<div id="home-div" class="influx-container flex separator">
			<h1>Results for "{{  app.request.get('search') }}"</h1>
			<a class="shadow button" href="{{ path('series_index') }}">clear</a>
		</div>
	{% else %}
		<h1 class="separator">Series</h1>
	{% endif %}

	<div id="trending" class="influx-container">
		{% for s in series %}
			<a href="{{ path('series_show', {'id': s.id}) }}" class="serie-item">
				<img src="{{ path('series_poster', {'id': s.id}) }}"/>
				<div class="title-container">
					<h1 class="fade-txt">{{ s.title }}</h1>
					<p class="fade-txt">{{ s.yearStart }}</p>
				</div>
			</a>
		{% endfor %}
	</div>
{% endblock %}


{# <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Plot</th>
                <th>Poster</th>
                <th>Director</th>
                <th>YoutubeTrailer</th>
                <th>Awards</th>
                <th>YearStart</th>
                <th>YearEnd</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for series in series %}
            <tr>
                <td>{{ series.id }}</td>
                <td>{{ series.title }}</td>
                <td>{{ series.plot }}</td>
                <td> <img width="100" src="{{ path('series_poster', {'id': series.id}) }}"> </td>
                <td>{{ series.director }}</td>
                <td><a href="{{ series.youtubeTrailer }}">Trailer</a></td>
                <td>{{ series.awards }}</td>
                <td>{{ series.yearStart }}</td>
                <td>{{ series.yearEnd }}</td>
                <td>
                    <a href="{{ path('series_show', {'id': series.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> #}
