{% extends 'nav.html.twig' %}

{% block title %}
	{{ serie.title }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('stylesheets/content.css') }}" rel="stylesheet">
	<link href="{{ asset('stylesheets/seriepage.css') }}" rel="stylesheet">
{% endblock %}

{% set curr_season = app.request.get('season') ?? 1 %}

{% block app %}
	<div id="serie-header">
		<img src="{{ path('series_poster', {'id': serie.id}) }}"/>
		<span></span>
		<div>
			<h1>{{ serie.title }}</h1>
			{% if app.user %}
				<form method="POST" action="#serie-header">
					<input type="hidden" name="toast" value="{{ is_following ? "Serie removed from your library" : "Serie added to your library" }}">
					<input type="submit" value="{{ is_following ? "Unfollow" : "Follow" }}" class="button {{ is_following ? " shadow" : " orange-highlight" }}"/>
				</form>
			{% endif %}
		</div>
	</div>

	<div id="header-spacer"></div>

	<div id="plot" class="influx-container">
		{{ serie.plot }}
	</div>

	<div id="serie-info" class="influx-container slot-background shadow">
		<div id="infos">
			<p>
				<span>Awards :
				</span>
				{{ serie.awards }}</p>
			<p>
				<span>Year :
				</span>
				{{ serie.yearStart }}
				{{ serie.yearEnd ?? "" }}</p>
			<p>
				<span>Seasons :
				</span>
				{{ serie.getSeasons()|length }}</p>
			<p>
				<span>Director :
				</span>
				{{ serie.director ?? "unknown" }}</p>
			<div id="rating-slot">
				<span>Rating :
				</span>
				{% for i in range(1, 5) %}
					<p>{{ i < serie.getAvgRatingsValue() / 2 ? "★" : "☆" }}</p>
				{% endfor %}
			</div>
		</div>
		<div id="trailer-poster">
			<div>
				<p id="open-trailer" class="button">Trailer</p>
				<p id="goto-ratings" class="button">Reviews</p>
			</div>
			<img src="{{ path('series_poster', {'id': serie.id}) }}"/>
		</div>
	</div>

	<form id="search-header" style="justify-content: flex-start;" class="influx-container" action="#episodes" method="GET">
		<div class="form-input-container">
			<select onchange="this.form.submit()" name="season">
				{% for season in serie.getSeasons() %}
					<option {{ curr_season == season.number ? 'selected' }} value="{{ season.number }}">Season
						{{ season.number }}</option>
				{% endfor %}
			</select>
		</div>
	</form>

	<div id="episodes" class="influx-container slot-background shadow">
		<div class="influx-container">
			{% for episode in serie.getSeason(curr_season).getEpisodes() %}
				<div class="episode-item">
					<div>
						<p>#{{ episode.getNumber() }}</p>
						<h1>{{ episode.getTitle() }}</h1>
					</div>
					{% if app.user %}
						<form id="focus-ep{{ episode.id }}" method="POST" action="#focus-ep{{ episode.id }}">
							<input type="hidden" name="episode" value="{{ episode.id }}">
							{% if episode.seenByUser(app.user) %}
								<input type="hidden" name="toast" value="Episode marked as not watched">
								<input type="submit" value="Remove from watched" style="color: rgba(255, 255, 255, 0.4)" class="button"/>
							{% else %}
								<input type="hidden" name="toast" value="Episode marked as watched">
								<input type="submit" value="✓ Mark as watched" style="color: #ff9c38" class="button"/>
							{% endif %}
						</form>
					{% endif %}
				</div>
			{% endfor %}
		</div>
	</div>

	{% if app.user %}
		<div id="review" class="influx-container slot-background shadow">
			<h1>Add a review</h1>
			<form method="POST" action="#review">
				<input type="hidden" name="toast" value="Your review as been submited">
				<textarea name="comment" type="text" placeholder="Your review..." required></textarea>
				<div>
					<select name="rating" required>
						<option value="" selected disabled>Rating</option>
						{% for i in range(1, 4) %}
							<option value="{{ i }}">
								{% for s in range(1, i) %}★
								{% endfor %}
								{% for s in range(i + 1 , 5) %}☆
								{% endfor %}
							</option>
						{% endfor %}
						<option value="5">★ ★ ★ ★ ★</option>
						<input class="button orange-highlight" type="submit">
					</select>
				</div>
			</form>
		</div>
	{% endif %}

	<div id="reviews-list" class="influx-container slot-background shadow">
		<h1>Reviews</h1>
		{% for review in serie.getRatings() %}
			<div class="review-item">
				<div class="review-infos">
					<h1>@{{ review.getUser().getName() }}</h1>
					<p>{{ review.getDateStr() }}</p>
					<div>
						{% for i in range(1, 5) %}
							<p>{{ i < review.getValue() / 2 ? "★" : "☆" }}</p>
						{% endfor %}
						{% if app.user and ( app.user.admin or review.user.id == app.user.id) %}
							<form method="POST" class="delete-review">
								<input type="hidden" name="delete" value="{{ review.getId() }}"/>
								<input type="submit" value="[delete]"/>
							</form>
						{% endif %}
					</div>
				</div>
				<p>{{ review.getComment() }}</p>
			</div>
		{% endfor %}
	</div>

	<div id="trailer">
		<div class="slot-background shadow">
			<iframe width="600px" height="300px" src="{{ serie.getYoutubeEmbed() }}"></iframe>
			<p id="close-trailer" class="button">Close</p>
		</div>
	</div>
	<script>
		const trailer = document.getElementById("trailer");
let showTrailer = true;
const toggle = () => {
showTrailer = ! showTrailer;
trailer.style.display = showTrailer ? "flex" : "none";
}
document.getElementById("open-trailer").addEventListener("click", toggle);
document.getElementById("close-trailer").addEventListener("click", toggle);
toggle();
document.getElementById("goto-ratings").addEventListener("click", () => {
document.getElementById("reviews-list").scrollIntoView({behavior: 'smooth'});
});
	</script>
{% endblock %}
