{% extends 'nav.html.twig' %}

{% block title %}Home
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('stylesheets/content.css') }}" rel="stylesheet">
	<link href="{{ asset('stylesheets/serie-item.css') }}" rel="stylesheet">
{% endblock %}

{% block app %}
	<form id="search-header" class="influx-container" action="{{ path('series_index') }}" method="GET">
		<div class="form-input-container">
			<input name="search" type="text" placeholder="Search content..."/>
			<img src="{{ asset('imgs/search.svg') }}"/>
		</div>
		<a class="shadow button" href="{{ path('series_index') }}">Browse</a>
	</form>

	<div id="best-serie" class="influx-container shadow">
		<img src="{{ path('series_poster', {'id': best.id}) }}"/>
		<span class="shadow"></span>
		<span class="shadow"></span>
		<p>Made for you</p>
		<h1>{{best.title}}</h1>
		<a class="shadow" href="{{ path('series_show', {'id': best.id}) }}">Watch now</a>
	</div>

	<h1 class="separator">Recommended</h1>
	<div class="influx-container shadow slot-background">
		{% for s in top_5 %}
			<a href="{{ path('series_show', {'id': s.id}) }}" class="serie-item">
				<img src="{{ path('series_poster', {'id': s.id}) }}"/>
				<div class="title-container">
					<h1 class="fade-txt">{{ s.title }}</h1>
					<p class="fade-txt">{{ s.yearStart }}</p>
				</div>
			</a>
		{% endfor %}
	</div>

	<h1 class="separator">Trending</h1>
	<div class="influx-container slot-background">
		{% for s in trending %}
			<a href="{{ path('series_show', {'id': s.id}) }}" class="serie-item">
				<img src="{{ path('series_poster', {'id': s.id}) }}"/>
				<div class="title-container">
					<h1 class="fade-txt">{{ s.title }}</h1>
					<p class="fade-txt">{{ s.yearStart }}</p>
				</div>
			</a>
		{% endfor %}
	</div>

	<div class="influx-container">
		<a class="shadow button" href="{{ path('series_index') }}">See more</a>
	</div>
{% endblock %}
