<div class="review-item">
	<div class="review-infos">
		<h1>@{{ review.getUser().getName() }}</h1>
		<p>{{ review.getDateStr() }}</p>
		<div>
			{% for i in range(1, 5) %}
				<p>{{ i < review.getValue() / 2 ? "★" : "☆" }}</p>
			{% endfor %}
			{% if app.user and ( app.user.admin or review.user.id == app.user.id) %}
				<form method="POST" class="delete-review">
					<input type="hidden" name="delete" value="{{ review.getId() }}"/>
					<input type="submit" value="[delete]"/>
				</form>
			{% endif %}
		</div>
	</div>
	<p>{{ review.getComment() }}</p>
</div>
