<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			Windy -
			{% block title %}{% endblock %}
		</title>
		<link href="{{ asset('stylesheets/main.css') }}" rel="stylesheet">
		<link href="{{ asset('stylesheets/reset.css') }}" rel="stylesheet">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

		<link rel="icon" href="{{asset('imgs/logo.svg')}}">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% set toast = app.request.get('toast') %}
		{% set toasterr = app.request.get('toasterr') %}

		{% if toast or toasterr %}
			<div style="{{ toasterr ? "background-color: rgb(255, 158, 158)" }}" class="toast">
				<h1>{{ toast ? toast : toasterr }}</h1>
			</div>
		{% endif %}

		<div id="loading">
			<img src="{{ asset('imgs/logo.svg') }}"/>
		</div>

		{% block navbar %}{% endblock %}

		<div id="app-container"> 
			{% block app %}{% endblock %}
		</div>
	</body>
	<script>
		// Evite de refaire une méthode post quand on refresh la page après un post
		if (window.history.replaceState) {
			window.history.replaceState(null, null, window.location.href);
		}
	</script>
</html>
