{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link href="{{ asset('stylesheets/navbar.css') }}" rel="stylesheet">
{% endblock %}

{% set route = app.request.attributes.get('_route') %}

{% block navbar %}
	<nav id="app-navbar">
		<div class="nav-container">
			<img id="logo" src="{{ asset('imgs/logo.svg') }}"/>
			<a id="{{ route == "index" ? "nav-selected" }}" href="{{ path('index') }}">Home</a>
			<a id="{{ route == "series_index" ? "nav-selected" }}" href="{{ path('series_index') }}">Browse</a>
			{% if app.user %}
				<a id="{{ route == "library" ? "nav-selected" }}" href="{{ path('library') }}">Library</a>
				<a id="{{ route == "account" ? "nav-selected" }}" href="{{ path('index', {'error': 'Error loading page'}) }}">Account</a>
			{% endif %}
			<a id="{{ route == "about" ? "nav-selected" }}" href="{{ path('about') }}">About</a>
		</div>
		<div class="nav-container">
		<!-- Petit if à mettre ici -->
			{% if app.user %}
				<div id="user-container">
					<img src="{{ asset('imgs/user.svg') }}"/>
					<p>{{ app.user.name }}</p>
				</div>
				<a href="{{ path('app_logout') }}">Logout</a>
			{% else %}
				<a href="{{ path('app_login') }}">Login</a>
				<a href="{{ path('app_register') }}">Register</a>
			{% endif %}
		</div>
	</nav>
{% endblock %}
